* {
  margin: 0px;
  padding: 0px;
}

ul,
ol {
  padding-left: 20px;
  list-style-position: inside;
}

body {
  background-color: #faf8ed;
  font-family: "Segoe UI";
  margin-top: 150px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.blog-body {
  width: 550px;
}

.container {
  padding-right: 10px;

  display: inline-block;
  vertical-align: top;
}
.img-size-hero {
  width: 100%;
}
.img-size-thumb {
  width: 100px;
}
